<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="../../../assets/benchMarkLogo.png" alt="BenchMark Logo" class="me-2" height="40">
      <span class="fw-semibold text-light">BenchPlanisa</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a [routerLink]="item.route" routerLinkActive="active"
             class="nav-link text-light fw-medium px-3"
             (click)="selectCategory(item.route)">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
