<footer class="rodape">
  <div class="container d-flex justify-content-between align-items-center">
    <span class="text-light fw-semibold">
      Desenvolvido por: <strong>Gustavo Nunes Guedes</strong>
    </span>
    <div class="text-center">
      2025 - Todos os direitos reservados
    </div>
    <div>
      <a href="https://www.linkedin.com/in/gustavo-nunes-guedes-82ab5a323/"
         target="_blank" class="social-link">LinkedIn</a>
      <a href="https://github.com/voidGustavoNunes"
         target="_blank" class="social-link">GitHub</a>
      <a href="https://instagram.com/gustavonunes051"
         target="_blank" class="social-link">Instagram</a>
    </div>
  </div>
</footer>
